 <!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: white;
}

h2 {
  background-color: DarkSlateGray;
  color: white;
  text-align: left;
  padding: 15px;
  margin-top: -10px;
}

h1 {
  font-family: Arial;
  font-size: 40px;
  margin-left: 15px;
  margin-top: 50px;
}
button {
  background-color: green;
  color: white;
  font-family: Arial;
  text-align: right;
  padding: 15px;
  margin-top: 70px;
  margin-left: 535px;
  length: 20px;
}



</style>
</head>
<div>
    <h2>Online Voting System</h2>
</div>
<body>
<div>
    <h1>Welcome to Online Voting System</h1>

</div>
<form>
  <button type="submit" formaction="http://127.0.0.1:8000/home/"><b>GO to Vote</b></button>
</form>

<form>
  <button type="submit" formaction="http://127.0.0.1:8000/results/"><b>See Result</b></button>
</form>

</body>
</html>